html
{
  width: 100%;
  height: 100%;
}
body
{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header
{
  background-color: #9B59B6;
  border-bottom-left-radius: 50%;
  width: fit-content;
  padding: .8rem 1.4rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  gap: 40px;
}
i
{
  cursor: pointer;
  transition: all 300ms;
  font-size: 1.3rem;
  position: relative;
}
i:hover
{
  color: #666666;
}
i > p
{
  position: absolute;
  top: -.5rem;
  left: -1rem;
  border-radius: 100%;
  background-color: white;
  color: black;
  font-size: .5rem;
  padding: .3rem;
}
#fav_items
{
  height: 92vh;
  width: 30vw;
  width: fit-content;
  border-radius: 10px;
  position: fixed;
  right: -30rem;
  top: 3rem;
  background-color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 1rem;
  transition: all 800ms;
}
.fav_product
{
  display: flex;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  gap: 20px;
  padding: .5rem 1rem;
  border: 1px dashed #9B59B6;
}

.fav-product-img
{
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
}
.main-text-co
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text-co
{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.text-co >p
{
  font-size: .8rem;
  color: black;
}
.amount
{
  display: flex;
  gap: 5px;
}
.amount > button
{
  background-color: #9B59B6;
  padding: .1rem .3rem;
  outline: none;
  border: none;
  border-radius: 100%;
}
.amount > button > i
{
  font-size: .8rem;
}
.price
{
  border-radius: 8px;
  padding: .2rem;
  background-color: white;
}
.delete
{
  padding: .3rem 1rem;
  width: fit-content;
  background-color: red;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border:none;
  margin: auto;
}
.delete > i
{
  font-size: .8rem;
}
#cart_items
{
  height: 92vh;
  width: 30vw;
  width: fit-content;
  border-radius: 10px;
  position: fixed;
  right: -30rem;
  top: 3rem;
  background-color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 1rem;
  transition: all 800ms;
}
.amount
{
  display: flex;
  gap: 10px;
}
.amount > button
{
  padding: .3rem;
  outline: none;
  border: 1px dotted #9B59B6;
  border-radius: 100%;
  background-color: transparent;
}
.amount > button > i
{
  color: black;
  font-size: .8rem;
}
.ribbon {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: .5em; 
  
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  line-height: 1.8;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
  transform-origin: 0% 100%;
  background-color: red;
}
#products-co
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding: 4rem 0;
}
.card {
    position: relative;
    width: 240px;
    background: white;
    border-radius: 1rem;
    padding: 0.3rem;
    transition: all 0.5s ease-in-out;
    border: 1px dashed silver;
    margin-left: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .card
    {
      margin-left: 4rem;
    }
  }
  .card .image-container {
    position: relative;
    width: 100%;
    height: 130px;
    border-radius: 0.7rem;
    border-top-right-radius: 4rem;
  }
  
  .card .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .card .image-container .svg {
    height: 50%;
    width: 50%;
    border-radius: inherit;
  }
  
  .card .image-container .price {
    position: absolute;
    right: 0.7rem;
    bottom: -1rem;
    background: white;
    color: #9B59B6;
    font-weight: 900;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem 1rem 2rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
  }
  
  .card .favorite {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .card .favorite input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .card .favorite input:checked ~ svg {
    animation: bouncing 0.5s;
    fill: rgb(255, 95, 95);
    filter: drop-shadow(0px 3px 1px rgba(53, 53, 53, 0.14));
  }
  
  .card .favorite svg {
    fill: #a8a8a8;
  }
  
  .card .content {
    padding: 0px 0.8rem;
    margin-bottom: 1rem;
  }
  
  .card .content .brand {
    font-weight: 900;
    color: #a6a6a6;
  }
  
  .card .content .product-name {
    font-weight: 700;
    color: #666666;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  
  .card .content .color-size-container {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    color: #a8a8a8;
    gap: 2rem;
  }
  
  .card .content .color-size-container > * {
    flex: 1;
  }
  #cart-shopping-solid
  {
  fill:#9B59B6;
  }
  .cart-button:hover #cart-shopping-solid
  {
  fill:white;
  }
  .card .content .color-size-container .colors .colors-container .active {
    border-color: black;
  }
  
  .card .content .color-size-container .sizes .size-container .size {
    height: 14px;
  }
  
  .card .content .color-size-container .sizes .size-container .size .size-radio {
    cursor: pointer;
  }
  
  .card .content .color-size-container .sizes .size-container .size .size-radio input {
    display: none;
  }
  
  .card .content .color-size-container .sizes .size-container .size .size-radio input:checked ~ .name {
    background: var(--accent-color);
    border-radius: 2rem 2rem 1.5rem 1.5rem;
    color: white;
  }
  
  .card .content .color-size-container .sizes .size-container .size .size-radio .name {
    display: grid;
    place-content: center;
    height: 100%;
    aspect-ratio: 1.2/1;
    text-decoration: none;
    color: #484848;
    font-size: 0.5rem;
    text-align: center;
  }
  
  .card .content .rating {
    color: #a8a8a8;
    font-size: 0.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .card .content .rating svg {
    height: 1.3rem;
  }
  
  .card .button-container {
    display: flex;
    gap: 0.3rem;
  }
  
  .card .button-container .button {
    border-radius: 8px;
    border: 1px solid #9B59B6;
    padding: 0.5rem 0;
    background: transparent;
    color: #9B59B6;
    font-weight: 900;
    cursor: pointer;
    transition:800ms all;
  }
  
  .card .button-container .button:hover {
    background: #9B59B6;
    color:white
  }
  
  .card .button-container .buy-button {
    flex: auto;
  }
  
  .card .button-container .cart-button {
    display: grid;
    place-content: center;
    width: 50px;
  }
  
  .card .button-container .cart-button svg {
    width: 15px;
    fill: white;
  }
  @keyframes bouncing 
  {
    from, to {
      transform: scale(1, 1);
    }
  
    25% {
      transform: scale(1.5, 2.1);
    }
  
    50% {
      transform: scale(2.1, 1.5);
    }
  
    75% {
      transform: scale(1.5, 2.05);  
    }
  }
  #container {
    position: fixed;
    top: 13rem;
    opacity: 0;
    z-index: -1;
    left: 40%;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 800ms all;
}
#container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: black;
}
#container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
#container .icon {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    color: rgb(111, 108, 108);
}
#container button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#container button:hover {
    background-color: #0056b3;
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
.exit
{
  color: rgb(215, 40, 40);
  margin-left: 90%;
}